<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home page</title>
</head>
<body>
	<div>
		<h1>ICESI Nursing</h1>
	</div>
	<div>
		<div>
			<a href="#" th:href="@{/drugDelivery}">
				<button>Drug delivery</button>
			</a> <a href="#" th:href="@{/patientService}">
				<button>Patient service</button>
			</a>
		</div>
		<div>
			<form  action="/query" method="get">
				<fieldset>
					<legend>Queries</legend>
					<select th:field="${query.option}" name="opt">
						<option th:value="@{query.option}">Drug supply</option>
						<option th:value="@{query.option}">Patient service</option>
					</select> 
					<input name="date" value="01/01/2019"type="date">
				</fieldset>
				<button type="submit" name="date">OK</button>
			</form>
		</div>
	</div>
</body>
</html>