<!DOCTYPE html>
<html>
<head>

<title>Login page</title>

<meta charset="UTF-8">

<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="../css/shards.min.css">

<title>Insert title here</title>
</head>
<body>
	<div class="text-center">
		<h3>
			<strong>LOGIN</strong>
		</h3>
		<form action="#" th:action="@{loginDo}" style="color: #757575;"
			th:object="${user}" method="post">
			<div>
				<img src="avatar.png"> </img>
			</div>
			<div class="md-form">
				<label> <b>Username</b>
				</label> <input type="text" placeholder="User" th:field="*{login}">
			</div>
			<div class="md-form">
				<label> <b>Password</b>
				</label> <input type="password" placeholder="Password"
					th:field="*{password}">
			</div>
			<div>
				<button style="width: 100px;" class="btn btn-info center-block my-4"
					type="submit" href="#" th:href="loginDo">Login</button>
			</div>
		</form>
	</div>
</body>
</html>