<html>
<head>
<title>Listar libros</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Libros</h1>
			</div>
		</div>
		<div>localhost:8080/create
			<div>
				<table>
					<thead>
						<tr>
							<th>Título</th>
							<th>Autor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${books.empty}">
							<td colspan="2">No hay libros</td>
						</tr>
						<tr th:each="book : ${books}">
							<td><span th:text="${book.title}">Titulo</span></td>
							<td><a href="#" th:href="${'/edit/'+book.author}" th:text="${book.author}">Author</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<a href="#" th:href="@{/create}"> Adicionar libros </a> <a href="#"
					th:href="@{/edit}"
					th:classappend="${books.empty} ? 'disabled' : ''"> Editar
					Libros </a>
			</div>
		</div>
	</div>
</body>
</html>