<html>
<head>
<title>New user</title>
</head>
<body>
	<div>
		<div>
			<div>
				<h1>Add user</h1>
			</div>

			<div>
				<a href="#" th:href="@{/list}"> Go back to list </a>
				<form action="#" class="form-horizontal" th:action="@{/save}"
					th:object="${form}" method="post">
					<fieldset>
						<span> <input type="submit" id="submitButton"
							th:value="Save"> <input type="reset" id="resetButton"
							th:value="Reset" />
						</span>
						<table class="table">
							<thead>
								<tr>
									<th>Doctor</th>
									<th>Patient</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input th:placeholder="Title" th:field="${user.name}"
										required /></td>
									<td><input th:placeholder="Mail" th:field="${user.mail}"
										required /></td>
									<td><select th:each= "doctor : ${doctors}">
											<option th:text="${doctor.name}">Doctor</option>
									</select></td>
									<td><select th:field="${user.gender}">
											<option value="Male">Male</option>
											<option value="Female">Female</option>
									</select></td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>