<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>New user</title>
</head>
<body>
	<div>
		<div>
			<div>
				<h1>New appointment</h1>
			</div>

			<div>
				<a href="#" th:href="@{list}"> Go back to list </a>
				<form action="#" class="form-horizontal" th:action="@{save}"
					th:object="${form}" method="post">
					<fieldset>
						<span> <input type="submit" id="submitButton"
							th:value="Save">
						</span>
						<table class="table">
							<thead>
								<tr>
									<th>Doctor</th>
									<th>Patient</th>
									<th>Date</th>
									<th>Time</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><select >
											<option th:each= "doctor : ${doctors}" th:field="${appointment.doctor}" th:value="${doctor}" th:text = "${doctor}">Doctor</option>
									</select></td>
									<td><select >
											<option th:each= "patient : ${patients}" th:field="${appointment.patient}" th:value="${patient}" th:text = "${patient}">Doctor</option>
									</select></td>
									<td><input type="date" th:field="${appointment.date}">  </td>
									<td><input type="time" th:field="${appointment.hour}">  </td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>