<html>
<head>
<title>Appointments</title>
	
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Appointments</h1>
			</div>
		</div>
		<div>
			<div>
				<table>
					<thead>
						<tr th:if="${!appointments.empty}">
							<th>Date</th>
							<th>Time</th>
							<th>Patient</th>
							<th>Doctor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${appointments.empty}">
							<td colspan="2">There is no appointments</td>
						</tr>
						<tr th:if="${!isPossible}">
							<h3>There are no patients or doctor for appointments</h3>
						</tr>
						<tr th:each="appointment : ${appointments}">
							<td><span th:text="${appointment.date}"> Date </span></td>
							<td><span th:text="${appointment.hour}"> Date </span></td>
							<td><span th:text="${appointment.patient.name}">
									Patient </span></td>
							<td><span th:text="${appointment.doctor.name}">
									Doctor </span></td>
							<td><a href="#" th:href="@{'edit/' + ${appointment.id}}">Edit</a>
								<a href="#" th:href="@{'delete/' + ${appointment.id}}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<a href="#" th:href="@{add}"> Add apointment </a>

			</div>
			<div>
				<a href="#" th:href="@{http://localhost:8080}"> Main page </a>
			</div>
		</div>
	</div>
</body>
</html>