<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User adding</title>
</head>
<body>
	<div>
		<div>
			<a href="#" th:href="@{/list}"> Volver al listado </a>
			<form action="#" class="form-horizontal" th:action="@{/save}"
				th:object="${form}" method="post">
				<fieldset>
					<span> <input type="submit" id="submitButton"
						th:value="Save"> <input type="reset" id="resetButton"
						th:value="Resetear" />
					</span>
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Mail</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${users}">
								<td><input th:placeholder="Name" required /></td>
								<td><input th:placeholder="Mail" required /></td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>