<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User listing</title>
</head>
<body>
	<div>
		<div>
			<div>
				<table>
					<thead>
						<tr>
							<th>Título</th>
							<th>Autor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${users.empty}">
							<td colspan="2">No hay libros</td>
						</tr>
						<tr th:each="user : ${users}">
							<td><span th:text="${user.name}"> Name </span></td>
							<td><span th:text="${user.mail}"> Mail </span></td>
							<td> <a href="#" th:href="@{/edit + 'user.id'}"> Edit </a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<a href="#" th:href="@{/add}"> Add users </a>
			</div>
		</div>
	</div>
</body>
</html>