<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Drug delivery</title>
</head>
<body>
	<div class="page-header">
			<h2>Drug delivery</h2>
		</div>
	<div>
		<form action="" th:action="@{/saveSupply}" method="post">
			<fieldset>
				<legend>Supply information</legend>
				<table>
					<thead>
						<tr>
							<th>Drug
							<th>Patient
							<th>Amount
							<th>Observation
							<th>Patology
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><select th:field="${supply.drug}">
									<option th:if="${drugs.empty}" th:value="null" text="No drugs">No
										drugs
									<option th:each="drug : ${drugs}" th:value="${drug.id}"
										th:text="${drug.name}">
							</select>
							<td><select th:field="${supply.patient}">
									<option th:if="${patients.empty}" th:value="null"
										text="No patients">No patients
									<option th:each="patient : ${patients}"
										th:value="${patient.id}" th:text="${patient.name}">
							</select>
							<td><input th:field="${supply.amount}" type=text>
							<td><input th:field="${supply.observation}" type="text">
							<td><input th:field="${supply.patology}" type="text">
						</tr>
					</tbody>
				</table>
				<button type="submit">Save</button>
			</fieldset>


		</form>
		<a href="#" th:href="@{/home}">Home page</a>
	</div>
</body>
</html>
