<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Supplies</title>
</head>
<body>
	<div class="page-header">
			<h2>Supplies listing</h2>
		</div>
	<div>
		<div>
			<table>
				<thead>
					<tr>
						<th>Drug
						<th>Patient
						<th>Amount
						<th>Date
						<th>Observation
						<th>Patology
					</tr>
				</thead>
				<tbody>
					<tr th:each="supply : ${supplies}">
						<td th:text="${supply.amount}">
						<td th:text="${supply.patient.name}">
						<td th:text="${supply.amount}">
						<td th:text="${supply.date}">
						<td th:text="${supply.observation}">
						<td th:text="${supply.patology}">
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>