<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Patient service</title>
</head>
<body>
	<div class="page-header">
			<h2>Patient Service</h2>
		</div>
	<div>
		<form action="#" th:action="@{saveService}" method="post">
			<fieldset>
				<legend>Service registration</legend>
				<table>
					<thead>
						<tr>
							<th>Patient
							<th>General description
							<th>Procedure
							<th>Location
							<th>Observation
							<th>Dispatch
							<th>Drug supplied
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><select>
									<option th:each="patient : ${patients}"
										th:text="${patient.name}" th:value="${patient.id}">
							</select>
							<td><input type=text th:field="${service.description}">
							<td><input type="text" th:field="${service.procedure}">
							<td><input type="text" th:field="${service.dispatchPlace}">
							<td><input type="text" th:field="${service.observation}">
							<td><input type="checkbox" th:filed="${service.dispatch}">
							<td><select th:each="supply : ${supplies}" th:field="${service.supplies}">
									<option th:value="${supply.id}"th:text="${supply}"></option>
								</select>
							</select>
						</tr>
					</tbody>
				</table>
				<button type="submit">Save</button>
			</fieldset>

			<a href="#" th:href="@{/home}">Home page</a>
		</form>
	</div>
</body>
</html>